@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner col-md-6 " role="listbox">
            <div class="item active">
                <img src="~/Content/Img/office1.jpg" alt="Chania">
            </div>

            <div class="item">
                <img src="~/Content/Img/office2.jpg" alt="Chania">
            </div>

            <div class="item">
                <img src="~/Content/Img/office3.jpg" alt="Flower">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">       
        <br>
        <h2 class="text-center">@Html.ActionLink("Laptops", "List", "Laptop")<h2>
        <br>
        <img src="~/Content/Icons/laptop.jpg" class="center-block" id="icon">
        <br>
        <p class="text-info">Check out our new laptop's models with attractive discount prices</p>
    </div>

    <div class="col-md-4">       
        <br>
        <h2 class="text-center">@Html.ActionLink("Acessories", "List", "Accessor")</h2><h2>
        <br>
        <img src="~/Content/Icons/keyboar.jpg" class="center-block" id="icon">
        <br>
        <p class="text-info">Keyboards, computer mice, flash drives and others with attractive discount  prices</p>
    </div>

    <div class="col-md-4">
        <br>
        <h2 class="text-center">@Html.ActionLink("Monitors", "List", "Monitor")<h2>
        <br>
        <img src="~/Content/Icons/monitor.jpg" class="center-block" id="icon">
        <br>
        <p class="text-info">Full HD monitors for your home and office with attractive discount prices</p>
    </div>
</div>